/* Scss Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic-ext');

$color-primary: #a6d610;
$color-seconary: #fbad18;
$color-red: #FF0000;
$color-green: #3AC43D;

body {
    font-family: "Open Sans";
}
.h-background-index {
    min-height: 500px;
    @media (max-width: 767px) {
        min-height: 96px;
    }
    background:url(../img/sg-clean.jpg);
    background-size:cover;
    background-position: center center;
    margin-bottom: 16px;

    .slogan {
        margin-top: 68px;
        font-size: 2em;
    }
}
.h-background {
    min-height: 96px;
    background:url(../img/header.jpg);
    background-size:cover;
    background-position: center center;
    margin-bottom: 16px;
}
.navbar-brand {
    min-height: 96px;

    @media (max-width: 1000px) {
        padding-right: 60px;
        margin-right: -60px;
        width: 100%;
        
        img {
            width:100%;
            height: auto;
            padding-top: 10px;
        }
    }
}

/*.navbar-collapse {
    @media (min-width: 768px) and (max-width: 960px) {
       &.collapse {
           display: none !important;
       }
    }
}

.navbar-toggle {
    @media (min-width: 768px) and (max-width: 960px) {
       &.collapse {
           display: none !important;
       }
    }
}*/

.navbar-default {
    background-color: rgba(255,255,255,0.4);
    border: 0px;
    margin: 0px -15px;

    /*@media (max-width: 767px) {
        .collapse, .collapsing {
            /*background-color: #FFFFFF;
        }
    }*/

    .navbar-nav {
        padding: 23px;
        font-weight: 700;

        .active a, > li > a {
            color: #000;
            background-color: transparent;

            &:hover, &:focus {
                color: $color-primary;
                background-color: rgba(255,255,255, 0.7);
            }
        }
    }
}

.navbar-toggle {
    margin-top: 30px;
}

.booking-form-index {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -356px;
    border-radius: 16px;
    border: 1px solid #CCC;
    padding: 16px;

    @media (max-width: 1000px) {
        margin-top: 0;
    }

    h2 {
        padding: 8px;
        margin: 0px;
    }
}

.booking-details {
    min-height: 520px;
    background:url(../img/b-success.jpg);
    background-size:cover;
    background-position: center center;
    margin-bottom: 16px;
    margin-top: -16px;
    padding-top: 24px;
}

.btn-green {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary - #101010;

    &:hover {
        color: #fff;
        background-color: $color-primary - #101010;
        border-color: $color-primary - #202020;
    }
    &:active {
        color: #fff;
        background-color: $color-primary - #202020;
        border-color: $color-primary - #252525;
    }
    &:focus {
        color: #fff;
    }
}

form {
    select.error, input.error {
        border-color: $color-red;
    }
    label.error {
        color: $color-red;
        font-size: 12px;
    }
    select.valid, input.valid {
        border-color: $color-green;
    }
}